<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         colors="true">
    <testsuites>
        <testsuite name="MBWay Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <const name="MBWAY_RUN_INTEGRATION_TESTS" value="true" />
        <const name="MBWAY_SSL_CERT_PATH" value="certs/key.pem" />
        <const name="MBWAY_SSL_CERT_PASS" value="somepassword" />
        <const name="MBWAY_CONFIG_MERCHANT_POSID" value="22334" />
        <const name="MBWAY_CONFIG_MERCHANT_IP" value="29.29.29.29" />
        <const name="MBWAY_ASYNC_SERVICE_MERCHANT_ALIAS" value="http://merchanturl.com/CreateMerchantAliasAsyncResultService" />
        <const name="MBWAY_ASYNC_SERVICE_FINANCIAL_OPERATION" value="http://merchanturl.com/CreateFinancialOperationAsyncResultService" />

    </php>
</phpunit>